.rating svg {
  color: rgb(255, 177, 75);
}
.rating svg:hover {
  font-size: 20px;
}
.reviews h2 {
  font-size: 24px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 12px;
}
.carousel-caption {
  position: absolute;
  width: 100%;
  padding: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(45, 45, 53);
}
